@charset "utf-8";
/* CSS Document */


.paging * {
	display: inline-block;
}

.paging a,
.paging li {
	width: 30px;
	height: 30px;
	border-radius: 3px;
	line-height: 2.25em;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}

.paging a {
	overflow: hidden;
	border: 1px solid #ddd;
	font-size: 1em;
	text-indent: -9999px;
	background: url('../img/img_paging_arrow.png') no-repeat center center;

	background-size: 60px auto;
}

.paging .pagingFirst {
	margin-right: 12px;
	background-position: 0 0;
}

.paging .pagingLast {
	margin-left: 12px;
	background-position: -30px 0;
}

.paging li {
	margin: 0 8px;
}

.paging .active,
.paging li:hover {
	color: #fff;
	background-color: #3e61dc;
}
.pagingList {
	padding: 0px;
}